.category {
    display: flex;

    position: relative;
    align-items: center;
    justify-content: center;

    margin: 15px 45px;
    cursor: pointer;
    &::after {
        content: "";
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: -1;
        
        padding: 13px 45px;
        
        background: $gold;
        
        clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 100%, 15px 100%);
        
        opacity: 0;
        transition: opacity .3s ease;
    }
    &.active {
        &::after {
            opacity: 1;
            transition: opacity .3s ease;
        }
    }
    &-selector {
        position: sticky;
        top: 0;
        &-container {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
    
            justify-content: center;
            position: sticky;

            padding: 10px 0;
    
            background: $white;
            @include media($xs-breakpoint) {
                flex-direction: column;
                align-items: center;
            }
        }

    }
    @include media($m-breakpoint) {
        &-selector {
            position: static;
        }
    }
}

.images {
    &-img {
        width: 100%;
        height: auto;
        
        object-fit: contain;
    }
}

.image-gallery {
    margin: 0 -60px;
}
.MuiMasonry-root {
    div {
        width: calc(100% / 3 - 11px);
        height: auto;
        @include media($m-breakpoint) {
            width: calc(100% / 2 - 8px);
        }
        @include media($xs-breakpoint) {
            width: 100%;
        }
    }
}