.service {
    margin: 80px -60px 80px -60px;
    &-title {
        margin-bottom: 50px;
        
    }
    &-cards {
        display: flex;
        flex-wrap: wrap;

        align-items: flex-start;
        justify-content: center;

        margin: 0 -5px;        
    }
    &-card {
        min-width: calc(20% - 10px);
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 1;
        flex-basis: 300px;

        margin: 0 5px 30px 5px;

        &-title {
            width: 100%;

            text-align: center;

            padding: 20px 20px;
            box-sizing: border-box;
            margin-bottom: 20px;

            color: $white;
            background: $black;

        }
        &-description {
            &-item {
                display: flex;
                max-width: 290px;

                align-items: center;

                margin-bottom: 10px;
                svg {
                    min-width: 15px;
                    min-height: 30px;

                    margin-right: 10px; 
                }
            }
        }
        &-image {
            display: block;
            max-width: 100%;
            width: auto;
            height: auto;
            
            object-fit: cover;
        }
    }
}